{erl_opts, [debug_info]}.

{deps, [
	{sync, ".*", {git, "https://github.com/rustyio/sync", {branch, "master"}}},
	{worker_pool, ".*", {git, "https://github.com/inaka/worker_pool.git", {tag, "2.0.0"}}},
	{epgsql, ".*", {git, "https://github.com/wg/epgsql", {tag, "1.4"}}}
]}.

{pre_hooks, [
  {clean, "rm -rf ./_build/test"}
]}.
{provider_hooks, [{pre, [{clean}]}]}.

{cover_enabled, true}.
{eunit_opts, [
    verbose, {
        report,{
            eunit_surefire,[
                {dir,"./_build/test"}
            ]
        }
    }
]}.